@import "tailwindcss";

:root {
  --background: #121212;
  --textColor: #f9f6ee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --textWhite: #f9f6ee;
    --textRed: #a30000;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--textWhite);
  --color-blood: var(--textRed);
  --font-sans: 'GeneralSans', var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee-infinite {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

.animate-marquee-infinite:hover {
  animation-play-state: paused; 
}

@keyframes noise {
    0%, 100% { transform: translate(0, 0); }
    10% { transform: translate(-5%, -5%); }
    30% { transform: translate(5%, 5%); }
    50% { transform: translate(-5%, 5%); }
    70% { transform: translate(5%, -5%); }
    90% { transform: translate(-2%, 2%); }
}

.grain-overlay {
    position: absolute;
      inset: -50%; /* Larger than container to allow for movement */
      width: 200%;
      height: 200%;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
      opacity: 0.05; /* Adjust this for more/less grain */
      pointer-events: none;
      animation: noise 0.5s steps(5) infinite;
      z-index: 1;
}